.recordHead {
    padding: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.6px solid #CECECE;
}

.recordHead li {
    list-style-type: none;
}